/*********************************************************/

/*index.html

/*********************************************************/

* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}


.navbar {
  padding: 5px;
  margin: 0;
}

/* This CSS styles the outlier icon in the navbar */
.nav-detect {
  position: absolute;
  bottom: 5px;
  left: 200px;
  width: 70px;
  color: rgba(255, 255, 255, 0.76);
}

/* Adding styles to the aside and filter form */
.detect-form {
  margin-top: 50px;
}

.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #406583;
  outline: none;
}


.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 30pxpx;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 550px;
  padding: 20px;
  margin: 0;
  background: rgb(51, 48, 48);
  background-image: url("../../images/anomaly.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  margin-top: 200px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #3f6b91;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #3f6b91;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #3f6b91;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #3f6b91;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 700px) {
  .pagination li {
    font-size: 0.8em;
  }

  .pagination > li > a {
    padding: 6px 12px;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }



  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*  Progress bar*/

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*Table*/

#myTable table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myTable td {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

#myTable th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}
/*********************************************************/

/*result.html

/*********************************************************/
/* ----DEFAULT ELEMENT STYLING START---- */
html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

body {
  /* Positioning */
  margin-bottom: 150px;

  /* Typography */
  font-family: Arial, Helvetica, sans-serif;

  /* Visual */
  background-color: #1e223a;
}

/* Media query for body */
@media only screen and (max-width: 767px) {
  /* Set background color to white on small screens */
  body {
    /* Visual */
    background-color: #040e49;
  }
}

/* ----DEFAULT ELEMENT STYLING END---- */

/* ----NAV START---- */
.navbar-custom {
  background-color: rgb(71, 84, 122);
}

#logo {
  /* Box-model */
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;

  /* Positioning */
  margin-left: 70px;
  font-family: Arial, Helvetica, sans-serif;

  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #fff;

  /* Visual */
  background: #4aaaa5;
}

/* Logo hover state */
#logo:hover {
  /* Visual */
  opacity: 0.7;
}

.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;

  /* Typography */
  font-family: Arial;
  font-weight: lighter;
}

/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: #13143f;
}

/* Media query for nav */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }

  #logo {
    width: 100%;

    /* Box-model */
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;

    /* Positioning */
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;

    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;

    /* Visual */
    background: #4aaaa5;
  }
}

/* -----NAV END---- */

/* ----DESCRIPTION START---- */
.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Arial, Helvetica, sans-serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #1d1849;
}

.description-content {
  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin-top: 50px;

  /* Visual */
  background-color: rgb(255, 255, 255);
}

.description-content > p {
  /* Box-model */
  padding-top: 20px;

  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: slategray;
}

.description-text {
  padding-bottom: 20px;
}

#description-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

/* Description content media query */
@media only screen and (max-width: 767px) {
  /* override default class styling for positioning/padding */

  .description-content {
    /* Box-model */
    padding: 0;

    /* Positioning */
    margin-top: 0;
  }
}

/* ----DESCRIPTION END---- */

/* ----IMAGE NAV START---- */
#imageNav-area {
  width: 100%;

  /* Box-model */
  padding: 30px 30px 43px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.imageNav-header {
  /* Positioning */
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;

  /* Typography */
  font-size: 25px;
  font-weight: bold;
  color: #080c33;
}


#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}

/* ----IMAGE NAV END---- */

/* ----COMPARISON START---- */
.comparison-image:hover {
  opacity: 0.6;
}

.plot-header {
  /* Positioning */
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;

  /* Typography */
  font-size: 20px;
  font-weight: bold;
  color: #11125f;
  text-align: center;
}


