<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Anomaly Detection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="./index.html">Detecting Outliers
            <img class="nav-detect" src="images/anomaly detection.jpg">
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>Anomaly Detection</h1>
      <p>Usine Machine Learning</p>
    </div>

    <!-- Choose and submit csv file-->
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-sm-3">
          <aside class="selectfile">
            <div class="panel panel-default">
              <div class="panel-heading">Data Extraction</div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="file">Choose file to upload</label>
                      <input type="file" id="file" name="file" multiple>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Select Filters-->
            <div class="container">
              <div class="row margin-top-50">
                <div class="col-md-2">
                  <aside class="filters">
                    <div class="panel panel-default">
                      <div class="panel-heading">Filter Search</div>
                      <div class="panel-body">
                        <div class="form-group">
                          <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                              <label for="shape">Select ID Column</label>
                              <select id="shape">
                                <option default value="">Select</option>
                                <option value="time">Time</option>
                                <option value="v1">V1</option>
                                <option value="v2">V2</option>
                                <option value="v3">V3</option>
                                <option value="v4">V4</option>
                                <option value="v5">V5</option>
                                <option value="v6">V6</option>
                                <option value="v7">V7</option>
                                <option value="v8">V8</option>
                                <option value="v9">V9</option>
                                <option value="v10">V10</option>
                                <option value="v11">V11</option>
                                <option value="v12">V12</option>
                                <option value="v13">V13</option>
                                <option value="v14">V14</option>
                                <option value="v15">V15</option>
                                <option value="v16">V16</option>
                                <option value="v17">V17</option>
                                <option value="v18">V18</option>
                                <option value="v19">V19</option>
                                <option value="v20">V20</option>
                                <option value="v21">V21</option>
                                <option value="v22">V22</option>
                                <option value="v23">V23</option>
                                <option value="v24">V24</option>
                                <option value="v25">V25</option>
                                <option value="v26">V2</option>
                                <option value="v27">V3</option>
                                <option value="v28">V4</option>
                                <option value="Amount">Amount</option>
                                <option value="Class">Class</option>
                              </select>
                            </li>
                            <li class="filter list-group-item">
                              <label for="time">Select Time Series Column</label>
                              <select id="time">
                                <option default value="">Select</option>
                                <option value="time">Time</option>
                                <option value="v1">V1</option>
                                <option value="v2">V2</option>
                                <option value="v3">V3</option>
                                <option value="v4">V4</option>
                                <option value="v5">V5</option>
                                <option value="v6">V6</option>
                                <option value="v7">V7</option>
                                <option value="v8">V8</option>
                                <option value="v9">V9</option>
                                <option value="v10">V10</option>
                                <option value="v11">V11</option>
                                <option value="v12">V12</option>
                                <option value="v13">V13</option>
                                <option value="v14">V14</option>
                                <option value="v15">V15</option>
                                <option value="v16">V16</option>
                                <option value="v17">V17</option>
                                <option value="v18">V18</option>
                                <option value="v19">V19</option>
                                <option value="v20">V20</option>
                                <option value="v21">V21</option>
                                <option value="v22">V22</option>
                                <option value="v23">V23</option>
                                <option value="v24">V24</option>
                                <option value="v25">V25</option>
                                <option value="v26">V2</option>
                                <option value="v27">V3</option>
                                <option value="v28">V4</option>
                                <option value="Amount">Amount</option>
                                <option value="Class">Class</option>
                              </select>
                            </li>
                            <li class="filter list-group-item">
                              <label for="shape">Select Dimension Column</label>
                              <select id="shape">
                                <option default value="">Select</option>
                                <option value="time">Time</option>
                                <option value="v1">V1</option>
                                <option value="v2">V2</option>
                                <option value="v3">V3</option>
                                <option value="v4">V4</option>
                                <option value="v5">V5</option>
                                <option value="v6">V6</option>
                                <option value="v7">V7</option>
                                <option value="v8">V8</option>
                                <option value="v9">V9</option>
                                <option value="v10">V10</option>
                                <option value="v11">V11</option>
                                <option value="v12">V12</option>
                                <option value="v13">V13</option>
                                <option value="v14">V14</option>
                                <option value="v15">V15</option>
                                <option value="v16">V16</option>
                                <option value="v17">V17</option>
                                <option value="v18">V18</option>
                                <option value="v19">V19</option>
                                <option value="v20">V20</option>
                                <option value="v21">V21</option>
                                <option value="v22">V22</option>
                                <option value="v23">V23</option>
                                <option value="v24">V24</option>
                                <option value="v25">V25</option>
                                <option value="v26">V2</option>
                                <option value="v27">V3</option>
                                <option value="v28">V4</option>
                                <option value="Amount">Amount</option>
                                <option value="Class">Class</option>
                              </select>
                            </li>
                            <li class="filter list-group-item">
                              <label for="shape">Select Label Column</label>
                              <select id="shape">
                                <option default value="">Select</option>
                                <option value="time">Time</option>
                                <option value="v1">V1</option>
                                <option value="v2">V2</option>
                                <option value="v3">V3</option>
                                <option value="v4">V4</option>
                                <option value="v5">V5</option>
                                <option value="v6">V6</option>
                                <option value="v7">V7</option>
                                <option value="v8">V8</option>
                                <option value="v9">V9</option>
                                <option value="v10">V10</option>
                                <option value="v11">V11</option>
                                <option value="v12">V12</option>
                                <option value="v13">V13</option>
                                <option value="v14">V14</option>
                                <option value="v15">V15</option>
                                <option value="v16">V16</option>
                                <option value="v17">V17</option>
                                <option value="v18">V18</option>
                                <option value="v19">V19</option>
                                <option value="v20">V20</option>
                                <option value="v21">V21</option>
                                <option value="v22">V22</option>
                                <option value="v23">V23</option>
                                <option value="v24">V24</option>
                                <option value="v25">V25</option>
                                <option value="v26">V2</option>
                                <option value="v27">V3</option>
                                <option value="v28">V4</option>
                                <option value="Amount">Amount</option>
                                <option value="Class">Class</option>
                              </select>
                            </li>
                            <li class="filter list-group-item">
                              <label for="count">Select Fact Column</label>
                              <select id="count">
                                <option default value="">Select</option>
                                <option value="time">Time</option>
                                <option value="v1">V1</option>
                                <option value="v2">V2</option>
                                <option value="v3">V3</option>
                                <option value="v4">V4</option>
                                <option value="v5">V5</option>
                                <option value="v6">V6</option>
                                <option value="v7">V7</option>
                                <option value="v8">V8</option>
                                <option value="v9">V9</option>
                                <option value="v10">V10</option>
                                <option value="v11">V11</option>
                                <option value="v12">V12</option>
                                <option value="v13">V13</option>
                                <option value="v14">V14</option>
                                <option value="v15">V15</option>
                                <option value="v16">V16</option>
                                <option value="v17">V17</option>
                                <option value="v18">V18</option>
                                <option value="v19">V19</option>
                                <option value="v20">V20</option>
                                <option value="v21">V21</option>
                                <option value="v22">V22</option>
                                <option value="v23">V23</option>
                                <option value="v24">V24</option>
                                <option value="v25">V25</option>
                                <option value="v26">V2</option>
                                <option value="v27">V3</option>
                                <option value="v28">V4</option>
                                <option value="Amount">Amount</option>
                                <option value="Class">Class</option>

                              </select>
                            </li>
                            <li class="filter list-group-item">
                              <label for="shape">Select Model Type</label>
                              <select id="shape">
                                <option default value="">Select</option>
                                <option value="v1">Supervised</option>
                                <option value="v2">Unsupervised</option>
                              </select>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <!-- Submit selected data-->
                    <div class="container">
                      <div class="row margin-top-50">
                        <div class="col-md-2">
                          <aside class="datasubmit">
                            <div class="panel panel-default">
                              <div class="panel-heading">Submit Data</div>
                              <div class="panel-body">
                                <div class="form-group">
                                  <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">

                                      <div id="myProgress">
                                        <div id="myBar"></div>
                                      </div>
                                      <br>
                                      <button onclick="move()">Click Me</button>
                                      </select>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                          </aside>
                        </div>
<!-- Submit selected data->
        <div class="col-md-6">
          <div id="table-area" class="">
            <h1 class="text-center loader" id="loader">Loading...</h1>
            <table id="detect-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Date</th>
                  <th class="table-head">City</th>
                  <th class="table-head">State</th>
                  <th class="table-head">Country</th>
                  <th class="table-head">Shape</th>
                  <th class="table-head">Duration</th>
                  <th class="table-head">Comments</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>      
      <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-2 text-center pagination-container">
          <ul class="pagination" id="pagination">
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    <footer class="footer">
      <span class="bottom">Anomaly Detection</span>
    </footer>
  </div>

<!-- Submit selected data -->
                        <script>
                          function move() {
                            var elem = document.getElementById("myBar");
                            var width = 1;
                            var id = setInterval(frame, 10);
                            function frame() {
                              if (width >= 100) {
                                clearInterval(id);
                              } else {
                                width++;
                                elem.style.width = width + '%';
                              }
                            }
                          }
                        </script>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

                        <script src="js/index.js"></script>


</body>

</html>