<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xxxxxxxx</title>

    <!----------------------------Latest compiled and minified CSS & JS -------------------->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>

    <!---------------------------- background image definition -------------------->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body, html {
        height: 100%;
        margin: 0;
      }

      .bg {
        /* The image used */
        background-image: url("static/images/bacteria_by_filterforgedotcom.jpg"); 

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>

  </head>




  <body style="font-family:courier;">


    <!----------------------------navigation 1 title started -------------------->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
      <a class="navbar-brand " style="color: #28a745;" href="/"><h2>xxxxxxxxx Dashboard</h2></a>
     
    </nav>


<!------------------------------info message---d-none----------------------------------->
 <div class="" id ="id_info_message"><h5>Please select sample for new charts.</h5>  </div>
<!------------------------------background image display---d-none----------------------------------->
		   <!------------------------------ result info started--------------------------------------->

			<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
			
			<p id = "id_selection_text"></p> 
			 
			</div>


    <!----------------------------navigation 2 search bar started -------------------->

    <nav class="justify-content-center  navbar navbar-expand-sm bg-dark navbar-dark" id="id_searchnav">
      
	  
	   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav ">

		  <li  class="nav-item "> 
		  	  <form class="form-inline">

		         <!------------Sample ------>
        <select class="form-control mr-sm-5"   placeholder="sample" aria-label="sample" id="id_sample">
          <option>select sample</option>
        </select>
        


      </form>

		
		  </li>
          
        </ul>
      </div>  
	  
	  
	  
	  
	  
	  
	  

    </nav> 
    <!----------------------------navigation 2 search bar ended -------------------->											 
											 
  <div class="bg " id ="id_bg_image"></div>
  

<!------------------------------ result container started--------------------------------------->

<div class="container-fluid bg d-none" id ="id_all_plots_container"  style=" margin: auto;background-color:black;">



		  
		  
		  

		  <!----------------------------all_plots_container started-----------------> 
		  <div class="container-fluid col-11 "  style="background-color:white;" >


							<!----------------------------First row started-----------------> 
							<br></br>
							<div class="row " style="" > 
							
							  
												 <!----------------------------id_row1_div2 started-----------------> 	
											  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " id ="id_row1_div2" style=" margin: auto ;background-color:white; height:100%; width:100%;box-shadow: 0px 2px 25px rgba(0, 0, 0, 5);"></div>
										
										   <!----------------------------id_row1_div1started-----------------> 
											  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 " id ="id_row1_div1" style=" margin: auto;background-color:white;height:100%; width:100%; box-shadow: 0px 2px 25px rgba(0, 0, 0, 5);">
											  
																  <div class="table-responsive">
																<table class="table .table-dark table-bordered table-responsive" id ="id_table" style=" margin: auto;">

																  <!----------------------------head started -------------------->		
																  <thead style="background-color:gray;">
																  <tr></tr>
																  </thead>
																  <!----------------------------data started -------------------->				
																  <tbody >
																  </tbody>
																  <!----------------------------data ended-------------------->

																</table>
															  </div>
											  </div>
													 <!----------------------------id_row1_div3 started-----------------> 
											  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  " id ="id_row1_div3" style=" margin: auto;background-color:white; height:100%; width:100%;box-shadow: 0px 2px 25px rgba(0, 0, 0, 5);"></div>
												 <!----------------------------id_row1_div3 ended-----------------> 
							</div> 
							<br></br>
							<!----------------------------second row started-----------------> 
							<div class="row justify-content-center "> 
												<!----------------------------id_row2_div1 started-----------------> 
											  <div class="justify-content-center col-lg-11 col-md-11 col-sm-11 col-xs-11 " id ="id_row2_div1" style="display: block; margin: auto;background-color:white; height:100%; width:100%;box-shadow: 0px 2px 25px rgba(0, 0, 0, 5);" ></div>
							
							<!----------------------------id_row2_div1 ended-----------------> 
							
							</div> 
							<br></br>
							
							<!----------------------------second row ended-----------------> 

		    </div>
			
			

									
		  <!----------------------------all_plots_container ended-----------------> 
</div>


<!------------------------------result container ended--------------------------------------->

    
    <!----------------------------java script code importing -------------------->


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for("static", filename="js/code.js") }}"></script>



  </body>
</html>
